.DS_Store
node_modules
/.svelte-kit
/package
.env
.env.*
!.env.example

# Sveltekit
.svelte-kit/
/build
.netlify/
static/build/
package/

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
yarn-debug.log*
yarn-error.log*
.yarn-integrity

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Logs
logs
*.log
npm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
